:root {
    --bg: #263151;
    --text: #C3C3C3;
    --primary: #2499FF;
    --secondary: #40455B;
    --accent: #7E6BD8;
}


* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bg);
}

title {
    color: var(--primary);
    accent-color: var(--accent);
}

input {
    border: unset;
    background: var(--secondary);
    padding: 1.0em;
    width: 100%;
    min-height: 48px;
}

.guessbutton {
    border: unset;
    background: hsl(208, 100%, 57%);
    padding: 1.0em;
    color: var(--secondary);
    cursor: pointer;
    min-height: 48px;
}

.guessbutton:hover {
    background: hsl(208, 100%, 64%);
}

.autocompletelist {
    list-style: none;
    padding: unset;
    margin: unset;
    position: absolute;
    width: 100%;
}

.autocompletewrapper {
    display: inline-block;
    position: relative;
}

.autocompletelist li {
    border: 1px solid var(--accent);
    border-top: unset;
}

.autocompletelist button {
    border: unset;
    background: var(--bg);
    color: var(--text);
    cursor: pointer;
    display: block;
    width: 100%;
    padding: 1.0em;
}

.autocompletelist button:hover {
    background: var(--secondary);
}

.box {
    width: 96px;
    height: 96px;
    min-width: 96px;
    min-height: 96px;
    border: 1px solid var(--bg);
    color: var(--text);
    background-color: var(--secondary);
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
}

.green {
    background-color: rgba(45, 156, 45, 0.466)
}

.yellow {
    background-color: rgba(255, 166, 0, 0.336);
}

.red {
    background-color: rgba(243, 53, 53, 0.582)
}

.center {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}